version: "3.9"

services:
  tracker:
    build: .
    env_file:
      - .env
    volumes:
      - ./outputs:/app/outputs
      - ./logs:/app/logs
    restart: unless-stopped
    # command: ["python", "-m", "app.main"]
